@model Bloggie.Web.Models.ViewModels.AddTagRequest

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Tag - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Enter tag name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="displayName" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayName" asp-for="DisplayName" placeholder="Enter display name" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>
