
@{
}

<div class="container my-5 text-center">
    <h2 class="text-danger">Access Denied</h2>
    <p class="lead">
        Sorry, but you are not allowed to access this page. This could be due to missing permissions or authentication.
    </p>
</div>
